<h1> Highlight code app </h1>

<h3> List of highlighted code in the system </h3>

<table>
  <tr>
    <th>id</th>
    <th>Language</th>
  </tr>

  <% @snippet.each do |element| %>
    <tr>
      <td> <%= element.id %> </td>
      <td> <%= element.language %> </td>
      <td> <%= link_to 'Show', snippet_path(element) %> </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New code', new_snippet_path %>
<%= link_to 'Home', controller: 'welcome' %>
